:root {
   --primary-color: #CCD2DB;
   --secondary-color: #DCDBDB;
}

* {
   margin: 0 auto;
}

h1 {
   font-size: 36px;
   font-weight: 425;
}

h2 {
   font-size: 30px;
   font-weight: 400;
   font-variation-settings: 'ital' .45;
}

a {
   text-decoration: none;
   color: black;
   font-weight: 475;
}

a:hover {
   text-decoration: underline;
}

button {
   border: none;
   border-radius: .5em;
   background-color: var(--secondary-color);
   font-size: 1.2em;
   width: 3.5em;
}

p {
   font-size: 18px;
   font-weight: 345;
   margin: 0 0 1em 0;
}

body {
   background-color: var(--primary-color);
}

.blog-header {
   text-align: center;
   line-height: 2;
   background-color: var(--secondary-color);
   border-radius: 5px;
   height: 75px;
   margin: auto auto 2em auto;
}

.blog-title {
   font-weight: normal;
}

.blog-title:hover {
   text-decoration: none;
}

.centered {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.container {
   max-width: 300px;
}

.title {
   flex-basis: 100%;
}

.title-container {
   display: flex;
   margin: 0 0 1em 0;
   align-items: center;
   justify-content: space-between;
}

::placeholder {
   color: #000000;
   opacity: 1;
}

@media screen and (max-width: 500px) {
   .container {
      max-width: 300px;
   }
}

@media screen and (min-width: 500px) {
   .container {
      max-width: 70%;
   }

   .blog-header {
      margin: 0 0 2em 0;
   }

   .post-content {
      height: 25vw;
   }
}

@media screen and (min-width: 2000px) {
   .container {
      max-width: 1500px;
   }
}
.user, .pass {
   box-sizing: border-box;
   border: none;
   border-radius: .5em;
   font-size: 1.2em;
   background-color: var(--secondary-color);
   margin: 0 0 .7em 0;
   padding: .375em;
   width: 100%;
}
.collection {
   width: 100%;
   margin: 0 0 1em 0;
}

.content a {
   color: #616C95;
   text-decoration: underline;
}

.content a:hover {
   text-decoration: none;
}

img, .content {
   margin: 0 0 2em 0;
}

img, .item {
   width: 100vw;
   margin-top: .06em;
   margin-bottom: .06em;
   border-radius: 1em;
}


@media screen and (max-width: 749px) {
   img, .item {
      position: relative;
      left: 50%;
      margin-left: -50vw;
   }
}

@media screen and (min-width: 750px) {
   img, .item {
      width: 100%;
   }
}

